<nav class="navbar navbar-expand-lg bg-black sticky-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" [routerLink]="['/add_item']" aria-current="page" href="#">add item</a>
        <a class="nav-link active" [routerLink]="['/add_category']" aria-current="page" href="#">add category</a>
        <a class="nav-link active" [routerLink]="['/items']" aria-current="page" href="#">items</a>
        <a class="nav-link active" [routerLink]="['/categories']"  aria-current="page" href="#">categories</a>
      </div>
    </div>
    <div class="ml-auto">
      
      <button class="btn btn-danger"  (click)="logout()">Log out</button>
    </div>
  </div>
</nav>
